.nav{
    font-family:'Courier New', Courier, monospace;
    background-color: darkslategray;
    display: flex;
    justify-content: space-evenly;
}

ul{
    list-style-type: none; 
}

a{
    font-family: 'Courier New', Courier, monospace;
    font-size: 150%;
    text-decoration: none;
    color: white;
}

button{
    background-color: teal;
    font-family: 'Courier New', Courier, monospace;
}

.nav-title{
    /* margin-right: 60%;
    margin-left: 10px; */
}

a{
    margin-right:50px;
}

.nav-links{
    margin-left: 20%;
    display:flex;
    align-items: center;
    /* justify-content: flex-end; */
}